@model List<CATALOGWEB.Models.Rol>

@{
    ViewData["Title"] = "ROLES";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="text-center mb-4">
    <h1 class="display-4">LISTADO DE ROLES</h1>
</div>
<div class="card shadow mx-auto" style="max-width: 800px;">
    <div class="card-body">
        <div class="d-flex justify-content-end mb-3">
        </div>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ROL</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Rol1</td>
                        <td>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="Rol_Detalle" asp-controller="Home" asp-route-idRol="@item.Idr">EDITAR</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminarol" asp-controller="Home" asp-route-idRol="@item.Idr">ELIMINAR</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <a class="btn btn-success btn-sm" style="background-color: #32CD32; border-color: #32CD32; color: white;" asp-action="Rol_Detalle" asp-controller="Home" asp-route-idRol="0">CREAR NUEVO ROL</a>
    <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">VOLVER</a>


</div>
