@model List<CATALOGWEB.Models.Usuario>

@{
    ViewData["Title"] = "USUARIOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center mb-4">
    <h1 class="display-4">LISTADO DE USUARIOS</h1>
</div>
<div class="card shadow mx-auto" style="max-width: 800px;">
    <div class="card-body">
        <div class="d-flex justify-content-end mb-3">
        </div>
                    <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>CORREO</th>
                        <th>CURP</th>
                        <th>EDAD</th>
                        <th>ROL</th>
                        <th>GÉNERO</th>

                        <th>OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Nombre</td>
                                        <td>@item.Correo</td>
                                        <td>@item.Curp</td>
                                        <td>@item.Edad</td>
                                        <td>@item.oRol.Rol1</td>
                                        <td>@item.Genero</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary btn-sm mr-2" asp-action="Usuario_Detalle" asp-controller="Home" asp-route-idUsuario="@item.Idu">EDITAR</a>
                                    <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Home" asp-route-idUsuario="@item.Idu">ELIMINAR</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <a class="btn btn-success btn-sm" style="background-color: #32CD32; border-color: #32CD32; color: white;" asp-action="Usuario_Detalle" asp-controller="Home" asp-route-idUsuario="0">CREAR NUEVO USUARIO</a>
        <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">VOLVER</a>
        
</div>